/**
* CSS for ‘registro’ page (currently index.php)
* 
* @author Robert Valencia  - http://robertvalencia.com
* @version 1
* @copyright Copyright ©2011 Robert Valencia - Distributed under a (cc) Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) License http://creativecommons.org/licenses/by-sa/3.0/
*/


/**
* Webfonts available
* 
* @webfont M1cthin
* @webfont M1clight
* @webfont M1cregular
* @webfont M1cmedium
* @webfont M1cbold
* @webfont M1cheavy
* @webfont M1cblack
* @webfont DekarRegular
* @webfont DekarLightRegular
* 
* COLORS
* @colorset #2073C3 rgba(32,115,195,1); rich blue; 
* @colorset rgba(54,97,126,1); currently used in H2s
* @colorset rgba(0,255,0,1); limegreen; currently used in hover state of upload dropzone & in the dark theme for div.ui-progressbar-value
* @colorset rgba(168,33,187,1); darkpurple; used in the gradient of upload dropzone
*/

/*
INDEX.PHP
*/
body{font-size: 100%;margin: .625em;padding: 0;line-height: 1.5;}
header p{font-family: "DekarLightRegular", "HelveticaNeue-UltraLight", Helvetica, sans-serif;font-size: 1.7em;font-weight: normal;line-height: 1; margin-top:0; /*margin-left: 10px;*/}
header p .year{font-family: "DekarRegular",sans-serif;font-size: .7em;letter-spacing: .15em;}
header p .semester:before{content:'· ';font-family: "HelveticaNeue-UltraLight", sans-serif;font-weight: normal;font-size: .8em;}
#container{margin: 0 auto;width: 45em;}
footer p{font: .6875em Arial,Helvetica, sans-serif;color: #AAA;}

h1{font-family: "Dekar-Light","DekarLightRegular", Palatino, Helvetica, sans-serif;font-size: 3.5em;margin:1em auto 0;letter-spacing: .1em;text-shadow:;font-weight: normal;}
h2 {
  font: normal normal bold 1.25em Arial, Helvetica, sans-serif;
/*  color: #7C55FF;*/
color:#36617E;
  padding-top: 3em;
  margin-top: 3em;
  border-top: 1px solid #F0F0F0;
}
h2#sube_documentos{border-top:none;margin-top: 0;}

label, th, legend{font: .8125em Arial, Helvetica, sans-serif;color:#333;}
legend{padding: 0 .3em;}
textarea, input[type=text]{ outline:none;border: 1px solid #999;}
input[type=text]{font: 1.3em "Lucida Grande", sans-serif;font-weight: bold;color:#3F3F3F;padding:.2em .2em;width: 27.16346153846153846153em ;/*565px*/}
form{margin-top: 1em;}
.tdlabel, th{width: 120px;text-align: right;padding-right: .5em;}
select{}
input[type=submit]{
  width:100%;
  height: 32px;
  margin: 20px auto 50px;
  text-align: center;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 7px 12px;
  border: 0;
  overflow: hidden;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #EEE;
/*  background: #3D3D3D;*/
/*background:
  -webkit-gradient(
          linear,right bottom,right top,
          color-stop(0.95, rgba(102,45,145,1)),
          color-stop(0.05, rgba(168,33,187,1))
      );*/
background-image: linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
background-image: -o-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
background-image: -moz-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
background-image: -webkit-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
background-image: -ms-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.05, rgb(168,33,187)),
	color-stop(0.95, rgb(102,45,145))
);      
/* css3 */
-webkit-border-radius:6px;
   -moz-border-radius:6px;
        border-radius:6px;}

input[type=submit]:before{content:""; display:block; position:absolute; z-index:-1; top:50%; left:0; right:0; bottom:0; background:#d3d3d3;
/* css3 */
-webkit-border-radius:0 0 6px 6px;
   -moz-border-radius:0 0 6px 6px;
        border-radius:0 0 6px 6px;}
input[type=submit]:after{content:"\00bb"; padding-left:5px;}
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
  color: #fff;
/*  background: #ec6196;*/
background:
-webkit-gradient(
        linear,right bottom,right top,
        color-stop(0.05, rgba(255,36,59,1)),
        color-stop(0.95, rgba(168,33,187,1))
    );
background-image: linear-gradient(bottom, rgb(168,33,187) 5%, rgb(255,36,59) 95%);
background-image: -o-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(255,36,59) 95%);
background-image: -moz-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(255,36,59) 95%);
background-image: -webkit-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(255,36,59) 95%);
background-image: -ms-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(255,36,59) 95%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.05, rgb(168,33,187)),
	color-stop(0.95, rgb(255,36,59))
);
}

input[type=submit]:hover:before{background: #ea4c88;}

::-webkit-input-placeholder  { color:#C7C7C7; }
::-moz-placeholder { color:#C7C7C7; }
:-moz-placeholder { color:#C7C7C7; }

:focus::-webkit-input-placeholder  { color:#E6E6E6; }
:focus:-moz-placeholder { color:#E6E6E6; }

.bidimensional td, .tridimensional td, .temporal td{text-align: center;}
/*.bidimensional label, .tridimensional label, .temporal label{display: none;}*/
.bidimensional input, .tridimensional input, .temporal input{font-size: 1em;font-weight: bold;font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;width: 2em;padding: .2em 0;}
/*input:after{content:"choncha";position:absolute;z-index:-1;bottom:30px;width:195px;height:230px;color:black;}
*/
.hint{font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;font-size: 11px;}
.selectbuttontd{}
.bidimensional .times:before, .tridimensional .times:before{content:" ";}
.bidimensional .times:after, .tridimensional .times:after{content:" ";}
.bidimensional .times_last:before, .tridimensional .times_last:before{content:" ";}
.bidimensional .times_last:after, .tridimensional .times_last:after{content:" ";}
.middle_characters{vertical-align:top;}
.selectbuttontd{vertical-align:top;padding-top: .2em;}
.temporal .times:before{content:" ";}
.temporal .times:after{content:" ";}
.temporal .times_last:before{content:" ";}
.temporal .times_last:after{content:" ";}
.bold{font-size: 1.4em;}
.ui-dialog-title{color:red;}


/**
* Form elements
*/
.instrucciones{font: 1em/1.5  "M1cregular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;color: #333353;}
tr{padding: 1em;display: block;}

/**
* FILE UPLOAD
***********************************
*/
#file_upload{margin-top: 2em;}
#file_upload div{}

/**
* UPLOAD FORM (archivos digitales, de evidencia de la pieza)
*/
.file_upload {
  position: relative;
  overflow: hidden;
  direction: ltr;
  cursor: pointer;
  text-align: center;
  color: #F2F2F2;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
/*  width: 200px;*/
/*  height: 30px;*/
  line-height: 1.875;
  width: 14.5em;
  height: 1.875em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: 0 auto;
/*  background: 
  -webkit-gradient(
      linear,right bottom,right top,
      color-stop(0.95, rgba(102,45,145,1)),
      color-stop(0.05, rgba(168,33,187,1))
    );*/
    background-image: linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
    background-image: -o-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
    background-image: -moz-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
    background-image: -webkit-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
    background-image: -ms-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);

    background-image: -webkit-gradient(
    	linear,
    	right bottom,
    	right top,
    	color-stop(0.05, rgb(168,33,187)),
    	color-stop(0.95, rgb(102,45,145))
    );      
    
    
}

.file_upload_small {
/*  width: 200px;*/
/*  height: 30px;*/
/*  line-height: 30px;*/
  line-height: 1.875;
  width: 14.5em;
  height: 1.875em;
  font-size: auto;
/*  background: 
  -webkit-gradient(
      linear,right bottom,right top,
      color-stop(0.95, rgba(102,45,145,1)),
      color-stop(0.05, rgba(168,33,187,1))
    );*/
  background-image: linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -o-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -moz-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -webkit-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -ms-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -webkit-gradient(
  	linear,
  	right bottom,
  	right top,
  	color-stop(0.05, rgb(168,33,187)),
  	color-stop(0.95, rgb(102,45,145))
  );      
  
}

.file_upload_large {
  width: 100%;
  height: 150px;
  line-height: 150px;
  font-size: 2em;
/*  font-size: 20px;*/
/*  background: 
  -webkit-gradient(
      linear,right bottom,right top,
      color-stop(0.95, rgba(102,45,145,1)),
      color-stop(0.05, rgba(168,33,187,1))
    );*/
  background-image: linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -o-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -moz-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -webkit-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);
  background-image: -ms-linear-gradient(bottom, rgb(168,33,187) 5%, rgb(102,45,145) 95%);

  background-image: -webkit-gradient(
  	linear,
  	right bottom,
  	right top,
  	color-stop(0.05, rgb(168,33,187)),
  	color-stop(0.95, rgb(102,45,145))
  );      
  
}

.file_upload_highlight {
/*  background:   -webkit-gradient(
                linear,right bottom,right top,
                color-stop(0.95, rgba(217,224,33,1)),
                color-stop(0.05, rgba(0,255,0,1))
            );*/
  background-image: linear-gradient(bottom, rgb(0,255,0) 5%, rgb(217,224,33) 95%);
  background-image: -o-linear-gradient(bottom, rgb(0,255,0) 5%, rgb(217,224,33) 95%);
  background-image: -moz-linear-gradient(bottom, rgb(0,255,0) 5%, rgb(217,224,33) 95%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,255,0) 5%, rgb(217,224,33) 95%);
  background-image: -ms-linear-gradient(bottom, rgb(0,255,0) 5%, rgb(217,224,33) 95%);

  background-image: -webkit-gradient(
  	linear,
  	right bottom,
  	right top,
  	color-stop(0.05, rgb(0,255,0)),
  	color-stop(0.95, rgb(217,224,33))
  );      

  color: rgb(102,45,145);
  
/*  padding-bottom: 10em;*/
}


.file_upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 300px solid transparent;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  filter: alpha(opacity=0);
  -o-transform: translate(-300px, -300px) scale(10);
  -moz-transform: translate(-800px, 0) scale(10);
  cursor: pointer;
}

.file_upload iframe, .file_upload button {
  display: none;
}

.file_upload_preview img {
  width: 80px;
}

.file_upload_progress .ui-progressbar-value {
/*  background: url(images/pbar-ani.gif);*/
rgb(0,255,0);height: 15px;
/**
* new properties by bertobox
*/

}

.file_upload_progress div {
  width: 150px;
  height: 15px;
  /**
  *new properties by bertobox
  */
  background-color: rgba(220,220,220,0.5);margin: 1em 0;
}

.file_upload_cancel button {
  cursor: pointer;
}

/**
* File uploads - table#files
*************************
*/

table#files{width: 100%;margin-top: 1em;}
#files tbody{width: 100%;}
#files tbody tr{border-bottom: 1px solid rgba(245,245,245,1);border-top: 1px solid white;padding-bottom: 1em;padding: 0 1em;background:rgba(245,245,245,.6) }
#files tbody tr:hover{background:rgba(150,200,255,.2) ;}
#files td{font: .8125em/1.5 "M1cregular","HelveticaNeue-Light", "Lucida Grande",Helvetica, sans-serif;/*16*.8125 = 13px size text*/}
#files tbody tr.file_uploading{color:rgba(111,111,111,.5);}
#files tbody tr.file_uploaded{color: rgba(32,115,195,1);}
#files tbody tr.file_uploaded td{padding-top: .1em;}
#files tbody tr td i{font-style: normal;font-family: "M1cmedium","HelveticaNeue-Light", Arial, Helvetica, sans-serif;}


/*Progress bar*/
/*
* Sample HTML
* 
* <tr class="file_uploading"><td>1979.mp3</td>
*   <td class="file_upload_progress">
*     <div class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="77">
*       <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 77%; "></div>
*     </div>
*   </td>
*   <td class="file_upload_cancel">
*     <button class="ui-state-default ui-corner-all" title="Cancelar">
*       <span class="ui-icon ui-icon-cancel">Cancelar</span>
*     </button>
*   </td>
* </tr>
*/
#files tbody tr.file_uploading{}
tr.file_uploading td{padding: 0 1em 0 0;}
tr.file_uploading td.file_upload_progress{padding: 0;}
#files tbody tr td.file_upload_progress div.ui-progressbar{
     -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
          background: rgba(111,111,111,.1) !important;
          border: none !important;
          margin: 0;
}
#files tbody tr td.file_upload_progress div.ui-progressbar div.ui-progressbar-value{
     -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
          background: rgba(111,111,111,.8) !important;
          border: none !important;
}
td button.ui-corner-all{
     -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
          background: none !important;
          border: none !important;
}

#files tbody tr.file_uploading:hover{color: rgba(32,115,195,1);}
#files tbody tr.file_uploading:hover td.file_upload_progress div.ui-progressbar-value{background:rgba(32,115,195,1) !important;}
td.file_upload_cancel:hover:after{content:'Cancelar';color: #222;font-size: .83em;}
td.file_upload_cancel span.ui-icon{background-image: url(images/ui-icons_888888_256x240.png);}
td.file_upload_cancel span.ui-icon:hover{background-image: url(images/ui-icons_454545_256x240.png);}
td.file_upload_cancel span.ui-icon-cancel{background-position: -32px -192px;}

td.file_uploaded button {height: 50px;}
td.file_uploaded button span.ui-icon-trash{}

.progress_bar{height: 15px;width: 100%;background-color: rgba(220,220,220,0.5);margin: 1em 0;}
.ui-progress{background-color: rgb(0,255,0);height: 15px;}


/**
* AUTORES
*/
.textboxlist { width: 62em;}
.textboxlist-bit-editable-input{border:0 !important;}
#autorRow{padding:1em 0;}


.selector span{font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;}
.selector{ width: 40em;}


/**
* Categorías para la premiación {otoño 2011 only, hopefully}
*/
fieldset{border: 1px solid #999;}

/**
* Descripción general de la pieza
*/
textarea{width: 35em;/*min-height: 10em;*/font: 1em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;font-weight: normal;color:#3F3F3F;padding:.2em .2em;}
#files textarea {
  width: 52.30769230769230769230em;/*680/13 = 52.30769230769230769230*/
/*  min-height: 2em;*/
/*  height:17px;*/
  border: 1px solid rgba(120,120,120,.2);
}

/**
* ESPECIFICACIONES de la pieza
* 
* This is a tab that the user selects, depending on how it applies to their piece. 
* 
* Bidimensional
* Tridimensional
* Multimedia
* Otro
* 
* jQuery UI Tabs 1.8.9
* http://docs.jquery.com/UI/Tabs#theming
*/


#tabs.ui-tabs{
  -webkit-border-radius: 0;
  border: none;
  }
#tabs .ui-tabs-nav {
  width: 100%;
  float: left;
/*  font-size: small;*/
  margin: 0 auto;
/*  padding: 0 10px 0 10px;*/
  border: none;
  border-bottom: 1px solid #333;
  -webkit-border-radius: 0;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  }
#tabs ul.ui-tabs-nav li {
  float: left;
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  -webkit-border-radius: 0;
  border: none;
}
#tabs ul.ui-tabs-nav li.ui-state-active a{
  border-bottom:4px solid #333 !important;
/*  background:#E6F1F9;*/
/*  -webkit-border-radius:3px;*/
/*  padding: 1em;*/
/*  padding-bottom: 2px;*/
  color: #333;
}
#tabs .ui-state-default{
  background: none;
}
#tabs ul.ui-tabs-nav li a:link, #tabs ul.ui-tabs-nav li a:visited{float:left;font-size:85%;line-height:20px;font-weight:bold;margin:0 10px 0 10px;text-decoration:none;color:#999;}
#tabs ul.ui-tabs-nav li a.active:link, #tabs ul.ui-tabs-nav li a.active:visited, #tabs ul.ui-tabs-nav li a.active:hover{border:none;border-bottom:4px solid #333;padding-bottom:2px;color:#333;}
#tabs div.ui-tabs-panel{}
#tabs table{margin: 1.875em auto;}
#tabs-4 input{width: 20em;}

/**
* Guardar button
*/
#guardar{width: 25em;height: 4em;margin: 0 auto 5em;}
#guardar input{height: 100%;font-size: 2em;cursor: pointer;
}

span.profesor{display:block;float:left;margin-right:5px;background-color:limegreen;padding:2px;font-size:8px;}

