@import url('../webfonts/stylesheet.css');
/*@import url('common.css');*/

/*body{background:limegreen}*/


/* Mobile */
@media screen and (max-device-width: 480px),screen and (max-width: 600px) {
	/* iOS and Windows Mobile font-size changes make the robot cry and SMASH */
	html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;}
}
/* Tablet */
@media screen and (min-width: 600px), screen and (max-width: 800px){
}
/* Desktop */
@media screen and (min-width: 800px) {
  body{margin: 0;padding: 0;}
	#main {
    z-index: -3000;
	width: 720px;/* 450 pieces × 380px width each = 171000px */
	position: absolute;
    padding-top: 1em;
	background: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0.00, rgba(255,255,255,.0)),
		    color-stop(0.005, rgba(255,255,255,1))
	);
	background: -moz-linear-gradient(
		    center bottom,
		    rgba(255,255,255,.0) 0%,
		    rgba(255,255,255,1) 5%
	);
	}
	
	}
	header{background: white url() no-repeat;position:fixed;width: 100%;border-bottom: 1px solid white;-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .52);-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .52);-box-shadow: 0 0 2px rgba(0, 0, 0, .52);}
/*  h1{font-family: "DekarLightRegular", "HelveticaNeue-UltraLight", Helvetica, sans-serif;font-size: 1.7em;font-weight: normal;line-height: 1; margin-top:10px; margin-left: 10px;position:fixed;top:8px;left:8px;margin-bottom: 5px;float: left;}*/
/*  h1 .year{font-family: "DekarRegular",sans-serif;font-size: .7em;letter-spacing: .15em;}*/
/*  h1 .semester:before{content:'· ';font-family: "HelveticaNeue-UltraLight", sans-serif;font-weight: normal;font-size: .8em;}*/
/*  h1 .beta{font-family: "M1cregular",Arial, Helvetica, sans-serif;font-weight: normal;font-size: .47794117647058823529em;color: rgba(111,111,111,.5);}*/
/*  h1:before{content:url(../../images/tags-bowtie.svg); padding-right: 3px;}*/

header p{font-family: "DekarLightRegular", "HelveticaNeue-UltraLight", Helvetica, sans-serif;font-size: 1.7em;font-weight: normal;line-height: 1; margin-top:10px;margin-bottom: 5px;margin-left: 10px;float: left;}
header p .year{font-family: "DekarRegular",sans-serif;font-size: .7em;letter-spacing: .15em;}
header p .year:after{content:' β (beta)';font-family: "M1cregular",Arial, Helvetica, sans-serif;font-weight: normal;font-size: .68277310924369747899em;/*13/27.2*.7 = 13/19.04 = .68277310924369747899px*/color: rgba(111,111,111,.5);letter-spacing: 0;line-height: 0;}
header p .semester:before, header p .expo_section:before{content:'· ';font-family: "HelveticaNeue-UltraLight", sans-serif;font-weight: normal;font-size: .8em;}
header .expo_section{}
header #nav {display: block;padding-top: .8em;}
header #nav li{float: left;list-style-type: none;padding-left: 3em;}
header #nav li+li{padding-left: 2em;}

#nav a {
text-decoration: none;
padding: .5em;
color: #27333E;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#nav a:hover {
background-color: rgba(111,111,111,.1);
}
.highlight_registro .nav_registro,.highlight_lista .nav_lista,.highlight_preguntas .nav_preguntas, .highlight_galeria .nav_galeria {
background-color: rgba(111,111,111,.1);
/*color: rgba(168,33,187,1) !important;*/
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

footer p, header #nav{font: .6875em Arial,Helvetica, sans-serif;color: #AAA;}


/**
SLIDES
*/


	.slide {
		font: 100%/1.5 "Calibri",sans-serif;
		width: 360px;
		float: left;
		min-height: 200px;
/*    margin-right: 20px;*/
/*    margin-left: 10px;*/
    margin-top: 2.4em;
		padding: 0 10px 0;
	}
	
	.slide{opacity:0.3;}
	.slide.active{opacity:1}
	.slide.last{visibility:hidden}
  .slide .project-info{z-index: 500;position:relative;width: 360px;}
  .slide .project-info h2{margin: 0;padding: 10px;font-weight: normal;font-family: "M1cregular",sans-serif;font-size: 1em;height: 3em;}
  .slide .project-info h2 span{font-family: "M1clight", Verdana, Arial, Helvetica, sans-serif;font-weight: normal;font-size: .8em;letter-spacing: .1em;}
  .slide.active .project-info:hover h2{-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .52);-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .52);-box-shadow: 0px 1px 2px rgba(0, 0, 0, .52);}
  .slide .project-info .meta{display: none;position:absolute;background:white;padding: 0 10px 10px 10px;border-bottom: 1px solid gray;-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .52);-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .52);-box-shadow: 0px 2px 2px rgba(0, 0, 0, .52);width: 340px;}
  .slide.active .project-info:hover .meta{display: block;}
  

/*  .slide .project-info{z-index: 500;position:relative;width: 360px;}*/
  
  dl{margin: 0;padding-top: .5em;}
  dt{font-family: "M1cregular",sans-serif;letter-spacing: .1em;color: #bbb;margin: 0;font-size: .625em;text-transform: uppercase;}
  dd+dt{margin-top: 1em;}
  /*  dt:hover{color: black;}*/
  dt span{padding: .5em 3em .5em .5em ;background-color: #E6F0FF;border-radius:4px}
  dd{margin-left: 0;color: #333;font-family: "M1cregular",sans-serif;font-size: .8125em;}
  dd.titulo{font-size: 1.5em;margin: 0;line-height: 1.3;}
  dd.autores{font-family: "M1cregular";}
  dd.materia{}
  /*  dd.materia:hover{color: #999;}*/
  dd.specs{}
  dd.description{}
  .slide .socialnetworks{opacity:0}
  .slide.active .socialnetworks{opacity:.6;padding-top: .5em;padding-bottom: .5em;text-align: right;}
  .slide.active .socialnetworks:hover{opacity:1;}
  .twitter-share-button{width: 118px;height: 20px;float: left;}
  fb:like{float: left;height: 20px;}

/**
* MEDIA elements
*/
  .media{}
  .media p{font-family: Arial, Helvetica, sans-serif;font-size: .8125em;}
  .media > img+p, .media > audio+p, .media > video+p, .media > div+p{margin: 0 0 2em;}
  
	img{width: 100%;margin: 0;padding: 0;}
  audio,video{z-index: 0;position:relative;width: 100%;}
/*	.slide:nth-child(1){background:#ccc}
	.slide:nth-child(2){background:#bbb}
	.slide:nth-child(3){background:#aaa}
	.slide:nth-child(4){background:#999}
	.slide:nth-child(5){background:#888}
	.slide:nth-child(6){background:#777}
*/}