/*@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);*/
@import url('/expo-artcom/o12/css/PTSansWeb/stylesheet.css');
html, body{
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
html, body{margin: 0;padding: 0;background-color: black;color: #fff;font: 1em/1.5 "PT Sans", "PTSans-Regular", Helvetica, sans-serif;-webkit-font-smoothing:antialiased;}
.container{width: 320px;margin: 0 auto;padding: 0;position: relative;}


/* Header navs
************************/

header{margin:0;padding:0;/*height:34px;background-color:rgba(83,83,83,1);*/}
header h1,header p{margin:0;padding:0;}
header p{position:absolute;top:10px;left:10px;font-size:12px;}
header h1{font-weight:normal;text-align:center;font-size:18px;line-height:2;}
section{}

nav{position:absolute;background-color:rgba(50,50,50,1);height:33px;width:100%;font-size:1em;line-height:2;z-index:1000;}
nav ul{list-style-type:none;margin:0;padding:0;}
nav > ul{float:left;position: relative;}
nav .main > li{float:left;}
nav a{display:block;height:33px;color:inherit;text-decoration:none;display:inline-block;}
ul .home a{border-right:2px solid #111;width:41px;background:transparent url('img/bowtie.png') no-repeat 50% 50%;text-indent:100%;white-space:nowrap;overflow:hidden;}
nav .main .menu > a{padding:0 .5em;width: 5.7em;}
nav .main .submenu > a{background:url('img/flecha-menu.png') no-repeat;padding-left:1.5em;text-shadow:0 1px 1px black;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
nav .main .enfoques.submenu a, nav .main .materias.submenu a, nav .main .categorias.submenu a{width:8.85em;text-shadow:0 1px 1px black;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/*nav .main .materias.submenu a{width:180px;}
nav .main .enfoques.submenu a{width:172px;}
nav .main .categorias.submenu a{width:165px;}*/
nav .main ul li{float:none;}
nav .main .menu ul{display:none;}
nav .main .menu li a{padding-left: .5em;}
nav .main .menu:hover{color:rgba(255,255,255,1)} /* to be changed later */
nav .main .menu:hover ul{display:block;color:rgba(255,255,255,1);background-color:rgba(50,50,50,1);}
nav .main .menu .active a{color:rgba(255,255,255,.5);width: 5.7em;}
nav .main .menu:hover ul li:hover{color:rgba(255,255,255,.5);}

nav .main .submenu ul{display:none;margin-left: 2px;padding-left: 1.3em;width:9em;text-shadow:0 1px 1px black;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
nav .main .submenu ul a{background-image: none;padding-right: 1em;}
nav .main .submenu:hover{color:rgba(255,255,255,1)} /* to be changed later */
nav .main .submenu:hover ul{display:block;color:rgba(255,255,255,1);background-color:rgba(50,50,50,1);}
nav .main .submenu .active a{color:rgba(255,255,255,.5);}
nav .main .submenu:hover ul li:hover{color:rgba(255,255,255,.5);}



/* Barra de instrucciones y contador de proyectos */
.nav dl{margin:0;padding:0 0 1px 0;line-height:1.6;position:relative;font-size: .875em;}
.nav dd{display:inline;margin:0;padding:0;position:absolute;}
.nav .instrucciones{left:4px;}
.nav .meta{right:4px;}
.nav{display: block;height: 20px;padding-top: 2.5em;position: relative;}


/* Contenido
****************************/

.proyecto{font-family:"PTSans-Regular","PT Sans",Arial,Helvetica,sans-serif;font-size:1em;}
.proyecto{position:relative;margin: 1px;padding:0;background-color:rgba(244,244,244,1);overflow:hidden;float: left;}

form, fieldset{display: inline;border: none;margin: 0;padding: 0;}
.eval_materias{}
  
.eval_materias .proyecto{ height: 106px;
                          width:  320px;}
.eval_materias .titulo {  width:  310px; } /*.proyecto width minus 10px*/
.eval_materias .autores {  width:  310px; } /*.proyecto width minus 10px*/

.winners_column{margin:10px 0px 40px 0px;width:400px;height:auto;float:left;}
.winners_column div{height:100%}

.winners_column .proyecto{ height: 106px;width:  320px;}
.winners_column .titulo {  width:  310px; } /*.proyecto width minus 10px*/
.winners_column .autores {  width:  310px; } /*.proyecto width minus 10px*/
.winners_column .proyecto .votos{background-color:rgba(0,0,0,0.5);position:absolute;top:0px;right:0px;margin:0;padding:0;z-index:500;padding-left:5px;height:24px;text-align:right;}

/* Dimensiones del proyecto
*****************************/
.proyecto {width:  106px;
           height: 106px;}
.titulo {  width:  96px;} /*.proyecto width minus 10px*/

/* Número de proyecto
****************************/
dt{position:absolute;z-index:300;text-align:center;background-color:rgba(1,1,1,.65);color:#fff;padding:0 3px;font-weight:bold;}

/* Imagen
***************************/
.thumbnail{z-index:-300;margin-left:0;float: left;}
img {width: 100%;position: absolute;}

/* Título y autor
***************************/
.titulo,.autores,.materias,.votos {
   margin-left: 0px;
   margin-right: 0px;
   color: rgba(255,255,255,1);
   text-shadow: 0 1px 1px black;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}


.titulo {
  background-image: -webkit-gradient(linear,center top,center bottom,from(
    rgba(0,0,0,0)),to(
      rgba(0,0,0,.7)));
      background-image: -webkit-linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.7));
        font-weight: normal;
        font-size: 1em;
        line-height: 1.33333333333333333333;
        margin-top: .4em;
        position: absolute;
        padding: 3em 5px 1.125em 5px;
        bottom:0;
        color:#fff;
      }
.autores {
font-size: .9375em;
line-height: 1.2;
margin: .1em 0;
height: 1.2em;
position: absolute;
width: 96px;
padding: 6.7em 5px 2px;
bottom: 0px;
font-style: italic;
}

.materias {
font-size: .75em;
text-transform: uppercase;
line-height: 1.5;
padding-bottom: 1em;
}

/* Checkbox para votar
***************************/

.checkbox{position:absolute;top:0px;right:0px;margin:0;padding:0;z-index:500;width:24px;height:24px;}

/* Shoutout to `arbales` for his excellent contribution on styling checkboxes:  https://gist.github.com/592332 */
input[type=checkbox]{display:none;}
.label-loading{display:inline-block;width:24px;height:24px;background:transparent url('img/x-mark-refresh.png') no-repeat 0px 0px !important;cursor:pointer;}
.label-1{display:inline-block;width:24px;height:24px;background:transparent url('img/x-mark-refresh.png') no-repeat 0px -48px !important;cursor:pointer;}
.label-0{display:inline-block;width:24px;height:24px;background:transparent url('img/x-mark-refresh.png') no-repeat 0px -24px ;cursor:pointer;}
/*input[type=checkbox]:checked + label{background:transparent url('img/x-mark.png') no-repeat 0px 0px ;}*/

input[type=radio]{display:none;}
input[type=radio] + label{display:inline-block;width:24px;height:24px;/*background:transparent url('img/checkmark.png') no-repeat 0px -24px ;*/cursor:pointer;}
/*input[type=radio]:checked + label{background:transparent url('img/checkmark.png') no-repeat 0px 0px ;}*/

.checkbox.error input[type=radio] + label{display:inline-block;width:24px;height:24px;background:transparent url('img/checkmark-refresh.png') no-repeat 0px -24px ;cursor:pointer;}
.checkbox.error input[type=radio]:checked + label{background:transparent url('img/checkmark-refresh.png') no-repeat 0px -24px ;}
.checkbox.error input[type=checkbox] + label{display:inline-block;width:24px;height:24px;background:transparent url('img/checkmark-refresh.png') no-repeat 0px 0px ;cursor:pointer;}
.checkbox.error input[type=checkbox]:checked + label{background:transparent url('img/checkmark-refresh.png') no-repeat 0px 0px ;}
.feedback.error{position: absolute;z-index: 400;background:  url('img/feedback-x-mark-error_exito.png') no-repeat 0 -62px ;width: 62px;height: 62px;top:18px;left:100px;}
.feedback.exito{position: absolute;z-index: 400;background:  url('img/feedback-x-mark-error_exito.png') no-repeat 0px 0px;width: 62px;height: 62px;top:18px;left:100px;}



/* Panel de evaluación por enfoques
************************************/

.eval_enfoques .proyecto{float: none;background-color: black;}
.eval_enfoques .proyecto{width: 320px;}
.eval_enfoques .proyecto .thumbnail{width: 106px;}
.eval_enfoques .proyecto .thumbnail img{width: 106px;}
.eval_enfoques .proyecto .enfoque{z-index: 3;padding: 5px 5px 5px 111px;margin-left: 0;color: white;position: absolute;font-size: .875em;}
.eval_enfoques .proyecto .titulo{padding:3em 224px 1.125em 5px;width:96px;z-index:7;}
.eval_enfoques .proyecto .autores{z-index: 9;}
.eval_enfoques .proyecto .checkbox{right:214px;}

/* Panel de selección de proyectos por número [para linares]
*************************************************/

.eval_linares .proyecto{margin: 0;}
.eval_linares .proyecto{width: 158px;height: 158px;}
.eval_linares .proyecto .thumbnail{}
.eval_linares .proyecto .thumbnail img{}
.eval_linares .proyecto .titulo{width: 148px;}
.eval_linares .proyecto .autores{}
.eval_linares .proyecto .checkbox{}

.eval_linares  .checkbox input[type=submit]{display:none;}
.eval_linares  .checkbox input[type=submit] + label{display:inline-block;width:24px;height:24px;background:transparent url('img/x-mark.png') no-repeat 0px 0px ;cursor:pointer;}
.eval_linares  .checkbox input[type=submit] + label:active{background:transparent url('img/x-mark.png') no-repeat 0px -24px ;}

.eval_linares  .checkbox input[type=button]{display:none;}
.eval_linares  .checkbox input[type=button] + label{display:inline-block;width:24px;height:24px;background:transparent url('img/x-mark.png') no-repeat 0px 0px ;cursor:pointer;}
.eval_linares  .checkbox input[type=button] + label:active{background:transparent url('img/x-mark.png') no-repeat 0px -24px ;}

/*Search input
**************************/
.agregador{padding:3.5em 0;text-align:center;}
.agregador input[type=text]{
  font: 1.4em/1 "PT Sans Caption",Arial,Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255,255,255,.1);
  color: rgba(230,230,230,1);
  width: 94px;
  border: 1px solid rgba(179,179,179,1);
  padding-left: 0.2em;
  margin-left: -.5em;
  -webkit-font-smoothing: antialiased;
  outline: none;
}
input[type=text]:focus{}
::-webkit-input-placeholder{text-align:center;}
:-moz-placeholder{text-align:center;}
input[type=submit] {
  margin-left: 1em;
  color: #fff;
  background-color: rgba(0,113,187,0);
  font-family: "PT Sans",Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
/*        margin-bottom: .21428571428571428571em;*/
  border: 1px solid ;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  vertical-align:center;
  line-height: 1.4;
}

/* Eval home
*************************/
.eval_home{padding-bottom: 3em;}
.eval_home nav{margin-bottom: 20em;}
.eval_home nav a{display: block;width: 9em;padding-bottom: .7em;}
.eval_home .container{margin-bottom: 20em;}
#splash_materias{margin-top: 20em;}



/* Splash screens 
*************************/









